/* quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/quicksand-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/quicksand-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/quicksand-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/quicksand-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/quicksand-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/quicksand-v21-latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-700 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/quicksand-v21-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/quicksand-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/quicksand-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/quicksand-v21-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/quicksand-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/quicksand-v21-latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
}


html, body{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size:16px;

}

*, *::before, *::after{
	box-sizing:inherit;
    margin:0;
    padding:0;
}
img{
	max-width: 100%;
	height:auto;
}
a{
	text-decoration: none;
}
ul{
	list-style:none;
}

/*header style start*/

header{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	margin-top:30px;
	 align-items: flex-start;
	background-color:#FFFFFF;
	min-height:80px;
	
}

.headerLogo{
	width:26px;
	height:26px;
}
.burgerMenu, .burgerItem img{
	width:50px;
	height:50px;

}
.burgerMenu{
	display:none;
}
.headerMenu{
	position:relative;
}
.headerItem{
	font-size: 20px;
	position:relative;
	z-index:10;
}
.headerItemList{
	display:inline-block;
}
.headerItem a{
	color:#5E81FE;
	font-weight: 700;
	font-size:12px;
    margin-right:42px;  

}
.social{
	padding-top:3px;
}
.social img{
	margin-right:33px;
}
.headerButton{
	margin-top:-5px;
	display:block;
	height:43px;
	width:113px;
	font-weight:700;
	background:#D2E1FF;
	color:#3A79FF;
	text-align:center;
	font-size:13px;
	padding-top:13px;
	border-radius:2px;
}

/*header style end*/
#parentSlider, #slider{
	position:relative;
	width:100%;
	height:80vh;
	overflow:hidden;
}
#toggleRadio{
	position:absolute;
	top:90%;
	left:47%;
	z-index:5;


}
.slide{
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	z-index:1;
	transition:opacity 0.5s;
}
.showing{
	opacity:1;
	z-index:2;
}
.videoButton{
	position:absolute;
	top:43%;
	left:47%;
	height:52px;
	width:52px;
	z-index:1000;
	background-size:cover;

}

video{
	width:100%;
	height:auto;
}
.buttonPlay{
	background-image: url("../images/playbutton.png");
    
}
.buttonPause{
	background-image: url("../images/pause.png");
}
.none{
	display:none;
}


.sponsors{
	display:flex;
	
	height:20px;
	width:100%;
	
}

.sponsorItems{
	list-style:none;
	display:flex;
	margin-top:40px;
	margin-left:256px;
    
}
.sponsorLi{
	margin-right:4em;
}


.apps{

	width:100%;
	height:776px;
	background-color:#F5F8FF;
	margin-top: 100px;
}
.appsText1{
	
	font-size:10px;
	color:#3D4F9F;
}
.appsText{
	
	font-size:36px;
	color:#3D4F9F;
	
}
.appsP{
	
	font-size:15px;
	color:#8D96BD;
	font-weight:200px;
	
}
.appsButton1{
	
	width:130px;
	height:43px;
	border-radius:2px;
	border:none;
	background-color:#4C85FF;
	box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
	color:white;
}
.appsButton2{
	
	width:130px;
	height:43px;
	color:#ADB4D2;
	border: 1px solid #D1D1E4;
	box-sizing: border-box;
    border-radius: 2px;
    background:none;

}
.appsPhone{
	left:700px;
	top:200px;
}
.phoneDisplay{
	width:143px;
	height:255px;
	
	background:url("../images/displayphone.png");
}


.usersCount{
	display:flex;
	min-height:300px;
	background: linear-gradient(90deg,#5E80FF 50%, #E9EFFF 50%);
	flex-flow: row wrap;
	justify-content: center;
	align-items:center;
	
}
.ints{
   font-size:48px;
}
.intsP{
	font-size:18px;
}
.usersCount > div{
	width:350px;
	
}
.intsMg{
	width:65px;
	height:66px;
}

.usersProductivity{
	color:white;
	text-align:right;
	padding-right:90px;
}
.usersUsing{
	color:#5E80FF;
	padding-left:90px;
}

.getStarted{
	min-height:447px;
    text-align:center;
	background-color:#5E80FF;
	background:url("../images/Group\ 28.1.png") right center  247px 319px no-repeat;
	background:url("../images/Group\ 28.1.png")  192px  926px 425px 186px no-repeat;
	background-size:247px 319px;
	color:white;
	padding-top:91px;
	
}
.getStartedB{
	margin-bottom:91px;
}
.getStartedB > a{
	padding:13px 17px;
	border-radius:2px;

}
.getStartedB1{
	background:white;
	color:#565F82;
	
}
.getStartedB2{
	border:1px solid #A0B4FF;
	color:#C7D3FF;
}


.getStartedH{ 

	font-size:10px;
    margin-bottom:16px;
	
}
.getStartedP{
	font-size:48px;
    margin-bottom:28px;
}
.getStartedP1{

	font-size:15px;
	margin-bottom:70px;
}
.getStartedImg{

	width:247px;
	height:319px;

}
.getStartedImg{

	width:247px;
	height:319px;

}
.spisok{
	height:964px;
	background: black;
}
.spisokItems{
	width:743px;
	height:614px;
	background:white;
	color:black;
	
}
.newsLetter{
	height:150px;
	background: #FCFDFF;

}
.newsLetter > ul{
	margin-top:130px;
	color:#3D4F9F;
	margin-left:216px;
}
.newsLetterDiv{
	margin-top:-60px;
	margin-left:700px;
}
.newsLetterDiv > input{
	width: 279px;
    height: 59px;
    background: #EFEFF7;
	border-radius: 5px;
	border:none;
	color:#3D4F9F;
	
}
.newsB{
	width: 184px;
	height: 59px;
	background: #4D6CE1;
    box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
	border-radius: 5px;
	color:white;
	border:none;
}

@media screen and (max-width: 815px){
	
	.headerLogo{
		display:none;
	}
	.headerItemList{
		display:block;
	}
	.headerItem{
		/* position:absolute; */
		/* top:55px;
		left:-65px; */
		background:white;
		padding-left:10px;
		padding-bottom:15px;
		
		
	}
	.social{
		padding-top:20px;
	}
	.headerButton{
		margin-top:5px;
	}
	.headerItem a{
		font-size:16px;
	}
	.burgerMenu {
		display:block;
	}
	.displayNone{
		display:none;
	}
}
