@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


header{
	display:flex;
	background-color:#FFFFFF;
	position:absolute;
	width:100%;
	height:10.075566750629722vh;
	top:0;
	left:0;
	box-shadow: 0 0 4px 1px darkgray;
}
.headerLogo{
	position:absolute;
	width:26px;
	height:26px;
	left:117px;
	top:27px;
}
.headerItem{
	display:flex;
	float:left;
	left:120px;
	list-style:none;
	text-decoration:none;
	padding:12px;
	margin-left:150px;
	font-size: 20px; 
}
.headerItemList, .headerItemList a{
	padding:3px;
	margin-top:-8px;
	text-decoration: none;
	font-family:'Quicksand', sans-serif;;
	color:#5E81FE;
}